extends layout

block content
  h1= title
  p Welcome to MyTVList, a very basic Express website developed as part of learning.

  h1 Statistics

  p There are currently !{show_count} shows in our catalogue, as well as !{actor_count} actors